body {
    background-color: white;
}

h1 {
    font-family: verdana;
    font-size: 1em;
    background-color: orange;
    color: rgb(238, 105, 105);
    text-align: center;
    
}
h2 {
    font-family: Arial;
    font-size: 1.5em;
    background-color: rgb(12, 172, 52);
    color: red;
    text-align: right;
    
}
h3 {
    font-family: Georgia;
    font-size: 1em;
    background-color: rgb(240, 15, 15);
    color: rgb(11, 157, 17);
    text-align: center;
    
}
h4 {
    font-family: Times;
    font-size: 2em;
    background-color: pink;
    color: rgb(1, 60, 192);
    text-align: left;
    
}
h5 {
    font-family: serif;
    font-size: 1em;
    background-color: grey;
    color: rgb(247, 9, 187);
    text-align: center;
    
}
h6 {
    font-family: verdana;
    font-size: 1em;
    background-color: rgb(136, 113, 14);
    color: black;
    text-align: center;
    
}



p {
    font-family: verdana;
    font-size: 20px;
}
ol {
    background: red;
    padding: 20px;
}

ul {
    background: orange;
    padding: 20px;
}

ol li {
    background: grey;
    padding: 5px;
    margin-left: 35px;
}

ul li {
    background:blue;
    margin: 5px;
    color: white;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
<a href="amigo.jpg">
  <img src="./image/amigo.jpg" alt="wsoul">
</a>
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid blue;
}
th {
    background-color: green;
    color: white;
}